<?xml version="1.0" encoding="UTF-8"?>
<configuration status="off" packages="com.dscomm.comp.logs.appender.db.jdbc">
	<Properties>
		<Property name="baseDir">${sys:catalina.home}/logs/iecs</Property>
	</Properties>


	<Appenders>

		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8"
				pattern="%d{yyyy/MM/dd HH24:mm:ss.SSS} [%thread] %-5level %logger{10}(%line) - %msg%exception{full}%n" />
		</Console>


		<RollingRandomAccessFile name="rollingRandomAccessFile"
								 fileName="${baseDir}/project-iceslog.log" filePattern="${baseDir}/project-iecslog-%d{yyyy-MM-dd}.log">
			<PatternLayout charset="UTF-8"
						   pattern="%d{yyyy/MM/dd HH24:mm:ss.SSS} [%thread] %-5level %logger{10}(%line) - %msg%exception{full}%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="100 M" />
			</Policies>
			<DefaultRolloverStrategy max="30">
				<Delete basePath="${baseDir}/" maxDepth="2">
					<IfFileName glob="*.log" />
					<IfLastModified age="50d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingRandomAccessFile>
project

        <RollingRandomAccessFile name="auditRollingRandomAccessFile"
                                 fileName="${baseDir}/project-audit.log" filePattern="${baseDir}/project-audit-%d{MM-dd}.log">
            <PatternLayout charset="UTF-8"
                           pattern="[%d{yyyy/MM/dd HH24:mm:ssS}][IECS]%m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
				<SizeBasedTriggeringPolicy size="100 M" />
			</Policies>
			<DefaultRolloverStrategy max="30">
				<Delete basePath="${baseDir}/" maxDepth="2">
					<IfFileName glob="*.log" />
					<IfLastModified age="50d" />
				</Delete>
			</DefaultRolloverStrategy>
        </RollingRandomAccessFile>


		<Async name="async">

			<AppenderRef ref="console" />
			<AppenderRef ref="rollingRandomAccessFile" />

		</Async>

	</Appenders>
	<Loggers>

		<root level="error">
			<appender-ref ref="async" />
		</root>

		<!-- 打印hibernate的info日志 -->
		<Logger name="org.hibernate" level="error" additivity="false">
			<AppenderRef ref="rollingRandomAccessFile" />
		</Logger>

		<!-- 打印sql语句 -->
		<Logger name="org.hibernate.SQL" level="error" additivity="false">
			<AppenderRef ref="rollingRandomAccessFile" />
		</Logger>

		<!-- 打印sql语句的参数绑定 -->
		<!--<Logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">-->
			<!--<AppenderRef ref="rollingRandomAccessFile" />-->
		<!--</Logger>-->

        <Logger name="com.dscomm.iecs.garage.service.impl.SubAuditServiceImpl" level="info" additivity="false">
            <AppenderRef ref="auditRollingRandomAccessFile" />
        </Logger>

		<!-- 查询出来的结果集提取，如果嫌这个日志太多可以关掉
        <Logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="trace" additivity="false">
            <AppenderRef ref="rollingRandomAccessFile" />
        </Logger> -->
	</Loggers>
</configuration>  